body {
  background-color:#000000;
  font-family:helvetica, arial, sans-serif;
  overflow-x:hidden;
  color:white;
  margin:0;
  padding:0;
}

header {
  margin:0 0 40px 0;
}

h1 {
  margin:10px;
  font-size:45px;
  color:rgb(206,59,255);
}

h3 {
  margin:0;
}

hr {
  background-color:rgb(48,52,54);
  height:2px;
  border:none;
}

table {
  border-spacing:7px 7px;
}

table td:nth-child(1) {
  color:rgb(214,210,204);
}

/*
:focus {
  outline:none;
}
*/

.content_wrapper {
  box-sizing:border-box;
  width:100%;
  max-width:1300px;
  padding:0 50px;
  margin:0 auto;
}

.container {
  background-color:rgb(80,86,90);
  color:rgb(253,250,102);
  border-radius:15px;
  padding:20px;
  overflow:hidden;
}

.contact {
  color:rgb(178,211,98);
  margin:100px 0 0 0;
  text-align:center;
}

.notice {
  color:rgb(186,254,66);
  margin:0 0 150px 0;
}